<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
<main class="profile-page">
  <section class="relative block h-500-px">
    <%= image_tag "profile.page.jpeg", alt: "Profile Background", class: "absolute object-cover top-0 w-full h-full " %>
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
              <div class="relative">
                <%= image_tag "profile_pic.jpeg", alt: "", class: "shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px" %>

                <%# <%= image_tag "movie-film.jpg", alt: "Le Wagon", class: "object-cover h-48 w-full card-image" %>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <h2 class="bg-yellow-600 active:bg-yellow-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150">
                  Rental confirmation
                </h2>
                <% @user.cars.each do |car| %>
                  <% car.rentals.each do |request| %>
                    <% car.rentals.each do |rental| %>
                      <% unless car.unavailable? %>
                        <%= request.user.email %>
                        <%= link_to 'Confirm', update_path(params: {request_id: request.id}), method: :put %>
                      <% else %>
                        <p><%=rental.user.email %></p>
                          <p> rental request has been approved</p>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="w-full lg:w-4/12 px-4 lg:order-1">
                <div class="flex justify-center py-4 lg:pt-4 pt-8">
                </div>
              </div>
            </div>
            <div class="text-center mt-12">
              <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">
                <%= @user.name %>
              </h3>
              <%# <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
              <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
              Shanghai, China
            </div> %>
              <div class="mb-2 text-blueGray-600 mt-10">
                <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i><%= @user.email %>
              </div>
              <div class="mb-2 text-blueGray-600">
              </div>
            </div>
            <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-9/12 px-4">
                  <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                    Welcome to Lux Cars your trusted service provider, we supply
                    you with the most luxurious and state of the range vechiles.
                    Quality service at great prices.
                  </p>
                </div>
              </div>
            </div>
            <div class="flex justify-around px-6">
            <div class="rounded-lg shadow-lg bg-white max-w-sm" >

                <%= image_tag "my rentals car pic.jpeg", alt: "", class: "rounded-t-lg" %>
                <div class="p-6">
                  <h5 class="text-gray-900 text-xl font-medium mb-2">My rentals</h5>
                    <% @user.rentals.where(status: true).each do |rental| %>
                      <%= rental.car.name %> <%= rental.car.model %>
                    <% end %>

                  <p class="text-gray-700 text-base mb-4">
                  </p>
                  <button type="button" class=" px-6 py-2.5 bg-yellow-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Show more</button>
                </div>
              </div>
              <div class="rounded-lg shadow-lg bg-white max-w-sm">
                <%= image_tag "my_cars_pic.jpeg", alt: "", class: "rounded-t-lg" %>
                <div class="p-6">
                  <h5 class="text-gray-900 text-xl font-medium mb-2">My cars</h5>
                  <p class="text-gray-700 text-base mb-4">
                  <% @user.cars.each do |car| %>
                  <%= car.name %>
                  <%= car.model %>
                  <% end %>
                  </p>
                  <button type="button" class=" px-6 py-2.5 bg-yellow-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Show more</button>
                </div>
              </div>


            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%# <h1>User: <%= @user.email %>
  <%# <h1>Rental Requests</h1> %>
  <%# <h1>My rentals</h1> %>
  <%# <% @user.rentals.where(status: true).each do |rental| %>
    <%# <%= rental.car.name %>
    <%# <% end %>
