<h1>New Car</h1>

<%= simple_form_for(@car) do |f| %>
  <%=f.input :name %>
  <%= f.submit %>
  <%=f.input :description %>
  <%= f.submit %>
  <%=f.input :year %>
  <%= f.submit %>
  <%=f.input :model %>
  <%= f.submit %>

<% end %>

<%= link_to 'Back', cars_path %>
