<h1>Show Car page</h1>
<div class = "container">

  <div class= "row justify-content-center">
    <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
  </div>

  <div class="row justify-content-center", id="map"
     data-marker="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     something
  </div>

  <div class = "row justify-content-center">
    <p>
      <strong>Name:</strong>
      <%= @car.name %>
    </p>
  </div>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>


<p>
  <strong>User:</strong>
  <%= @car.user_id %>
</p>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Destroy', @car, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', cars_path %>
<%= link_to 'Car unavailable', cars_path, class: "btn btn-primary"  %>
<% unless @car.unavailable? %>
  <%= simple_form_for [ @car, @rental ] do |b| %>
    <%# <%= b.string :status %>
    <%= b.association :user, :as => :hidden, label_method: :email, :input_html => { :value => current_user.id }  %>

    <%# <% rental. %>
    <%= b.submit "Rent This Car",  class: "btn btn-primary" %>
  <% end %>
<% end %>

</div>
